body{
    background-color: #ebeff5;
}

#total-orders{
    background-color: #4cb4c7;
}

#orders-delivered{
    background-color: #7abecc;
}

#orders-pending{
    background-color: #7CD1C0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.footer-container{
    width: 150px;
    margin:auto;
}