{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="card card-body">
            <form method="POST" action="">
                {% csrf_token %}

                {% if formset %}
                    {{ formset.management_form }}
                    {% for form in formset%}
                        {{form}}
                        <hr>
                    {% endfor %}
                {% else %}
                   {{form}}
                {% endif %}
                <input class="btn btn-sm btn-success" type="submit" name="Submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}